<div class="footer">
    <div class="pull-right">
        By：<a href="http://www.infonx.com" target="_blank">infonx</a>
    </div>
    <div>
        <strong>Copyright</strong> infonx &copy; 2016
    </div>
</div>