<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/img/profile_small.jpg"/>
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold"><%= user.username %></strong>   超级管理员
                                </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    infonx
                </div>

            </li>
            <li class="active">
                <a href="/">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">主页</span>
                </a>
            </li>
            <li>
                <a href="/crm/view">
                    <i class="fa fa-columns"></i>
                    <span class="nav-label">客户管理</span>
                </a>
            </li>
            <li>
                <a href="/finance/list">
                    <i class="fa fa fa-globe"></i>
                    <span class="nav-label">财务管理</span>
                </a>
            </li>
            <li>
                <a href="/rules/">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-label">规章制度</span>
                </a>
            </li>
        </ul>

    </div>
</nav>